<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated metaModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="mdsd.metaModel.presentation.MetaModelModelWizardID"
            name="%_UI_MetaModelModelWizard_label"
            class="mdsd.metaModel.presentation.MetaModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MetaModelModelFile.gif">
         <description>%_UI_MetaModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated metaModel -->
      <editor
            id="mdsd.metaModel.presentation.MetaModelEditorID"
            name="%_UI_MetaModelEditor_label"
            icon="icons/full/obj16/MetaModelModelFile.gif"
            extensions="metamodel"
            class="mdsd.metaModel.presentation.MetaModelEditor"
            contributorClass="mdsd.metaModel.presentation.MetaModelActionBarContributor">
      </editor>
   </extension>

</plugin>
