<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metaModel -->
      <package
            uri="http://www.example.org/metaModel"
            class="mdsd.metaModel.MetaModelPackage"
            genModel="model/metamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodel -->
      <package
            uri="http://metaModel"
            class="metaModel.MetaModelPackage"
            genModel="model/metamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodel -->
      <package
            uri="http://metaModel/viewType"
            class="metaModel.viewType.ViewTypePackage"
            genModel="model/metamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodel -->
      <package
            uri="http://metaModel/viewType/repository"
            class="metaModel.viewType.repository.RepositoryPackage"
            genModel="model/metamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodel -->
      <package
            uri="http://metaModel/viewType/assembly"
            class="metaModel.viewType.assembly.AssemblyPackage"
            genModel="model/metamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodel -->
      <package
            uri="http://metaModel/viewType/environment"
            class="metaModel.viewType.environment.EnvironmentPackage"
            genModel="model/metamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodel -->
      <package
            uri="http://metaModel/viewType/allocation"
            class="metaModel.viewType.allocation.AllocationPackage"
            genModel="model/metamodel.genmodel"/>
   </extension>
</plugin>
